.news-container
  &.story-container
    background: white

.news-article
  h2
    font-size: 2rem
    font-weight: 600
  .article-title
    font-size: 3rem
    line-height: 3.5rem
    font-weight: 600

  .article-media
    height: 50vw
    max-height: 450px

    .q-img__image.absolute-full
      background-size: 100% 115% !important
      background-position: 100% 100% !important

  .article-body
    font-size: 1.2rem
    p
      font-size: 1.2rem
    img
      max-width: 80% !important
      margin: 20px 10%
      height: auto
    a
      text-decoration: none
      color: $primary

    figure
      padding: 0
      margin: 0
    *
      max-width: 100%

@media only screen and (max-width: 1024px)
  .news-article .article-title
    font-size: 2rem
    line-height: 2.5rem

@media only screen and (max-width: 600px)
  .news-article
    .article-title
      font-size: 1.7rem
      line-height: 2.2rem
    .article-body
      font-size: 1.1rem
      p
        font-size: 1.1rem
