.news-container
  padding: .1rem .3rem .8rem

.main-container
  padding: .1rem .3rem .8rem

.q-pa-md
  .main-card
    margin: 10px 5px 0 5px
    min-height: calc(100% - 10px)
    width: 100%

.news-card
  margin: 10px 5px 0 5px
  min-height: calc(100% - 10px)

.text-h5
  font-weight: 600
  font-size: 1.2rem
  line-height: 1.7rem

.text-caption
  font-size: 0.9rem

// news to move icons to bottom on bigger screen only
@media only ( min-width: 600px )
  .news-card
    display: flex
    flex-direction: column

    &.q-card
      &> div.q-card__section:first-child
        display: flex
        flex-grow: 1

