.animated
  animation-duration: 1.5s !important

// slide fade transition
.slide-fade-
  &enter-active, &leave-active
    transition: all .2s ease
  &enter, &leave-to
    transform: translate3d(0, -10px, 0)
    opacity: 0

.fade-
  &enter-active, &leave-active
    transition: all .3s ease
  &enter, &leave-to
    opacity: 0

.slide-bottom-
  &enter-active, &leave-active
    transition: all .3s ease
  &enter, &leave-to
    transform: translate3d(0, -20px, 0)
    opacity: 0
    bottom: -100%
